<div class="flex items-center justify-center antialiased">
    <div class="flex flex-col items-center w-1/2">
        <h1>Bee</h1>
        <p>Testing Bumblebee w/ Elixir and Phoenix.</p>
    </div>
</div>