<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Bee" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="px-4 sm:px-6 lg:px-8">
      <ul class="flex">
        <li class="mr-2"><.link href={~p"/"} class="text-blue-500 hover:text-blue-800"><%= gettext("Home") %></.link></li>
        <li class="mr-2"><.link href={~p"/texts"} class="text-blue-500 hover:text-blue-800"><%= gettext("Texts Analysis") %></.link></li>
        <li class="mr-2"><.link href={~p"/images"} class="text-blue-500 hover:text-blue-800"><%= gettext("Images Classification") %></.link></li>
        <li class="mr-2"><.link href={~p"/diffusions"} class="text-blue-500 hover:text-blue-800"><%= gettext("Stable Diffusion") %></.link></li>
        <!--
        <li class="mr-2"><.link href={~p"/gpt2"} class="text-blue-500 hover:text-blue-800"><%= gettext("Text Generation") %></.link></li>
        -->
        <li class="mr-2"><.link href={~p"/speechs"} class="text-blue-500 hover:text-blue-800"><%= gettext("Speech to text") %></.link></li>
      </ul>
    </header>
    <%= @inner_content %>
  </body>
</html>
